.follow-container {
  background-color: var(--follow-cont-bg);
}

.follow-container:active {
  background-color: var(--follow-cont-bg-active);
}

.description-avatar {
  padding: 0.5rem 0rem;
}

.follow-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallAvatar {
  max-width: 4rem;
  max-height: 4rem;
}

.follow-text {
  text-align: center;
  font-size: 1rem;
}

.button-follow {
  color: var(--follow-btn-text);
  background-color: var(--follow-btn-bg);
  font-size: 1rem;
  width: 30%;
}
